.containerRegister {
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
}

.containerRegister div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 20px 0;
}

.containerRegister div h1 {
  color: var(--color-primary);
}

.containerRegister div a {
  padding: 10px;
  background-color: var(--grey-3);
  color: var(--gray-0);
  border-radius: 4px;
}

.formRegister {
  background-color: var(--grey-3);
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
}

.formRegister h2 {
  color: var(--gray-0);
}

.formRegister span {
  color: var(--grey-1);
}

.formRegister p {
  color: var(--grey-1);
}

.formRegister label {
  align-self: baseline;
  color: var(--gray-0);
}

.formRegister input {
  height: 40px;
  border: 1.2182px solid #f8f9fa;
  border-radius: 4px;
  background-color: var(--gray-1);
}

.formRegister select {
  height: 40px;
  border: 1.2182px solid #f8f9fa;
  border-radius: 4px;
  background-color: var(--gray-1);
}

.formRegister button {
  margin-top: 10px;
  height: 40px;
  border-radius: 4px;
  color: var(--gray-0);
  background-color: var(--color-primary-Negative);
  font-weight: 600;
}
