.headerDash {
  padding: 15px 20% 15px 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-2);
}

.headerDash h1 {
  color: var(--color-primary);
}

.headerDash button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: var(--grey-3);
  color: var(--gray-0);
  cursor: pointer;
}

.sectionUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20% 30px 20%;
  border-bottom: 1px solid var(--grey-2);
}

.sectionUser h2 {
  color: var(--gray-0);
}

.sectionUser span {
  color: var(--gray-1);
}

.sectionData {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 20% 30px 20%;
  align-items: flex-start;
}

.sectionData h2 {
  color: var(--gray-0);
}

.sectionData p {
  color: var(--gray-1);
}
